<h1>Edges</h1>

<div class="row">
	<div class="form-group col-xs-3">
		<label>Search:</label>
		<input type="search" name="search" ng-model="filterBy.search" class="form-control input-sm">
	</div>
	<div class="form-group col-xs-3">
		<label>Category</label>
		<select name="category" 
			ng-model="filterBy.category" 
			ng-options="c.name for c in categories"
			class="form-control input-sm"></select>
	</div>
	<div class="form-group col-xs-3">
		<label>Rank</label>
		<select name="rank" 
			ng-model="filterBy.rank" 
			ng-options="c.name for c in ranks"
			class="form-control input-sm"></select>
	</div>
</div>

<ul>
	<li ng-repeat="edge in edges | filter:{name:filterBy.search} | edges:filterBy" ng-click="selectEdge(edge)" class="edge">
		<span class="label label-default">{{edge.category.name}}</span>
		{{edge.name}}
		<span class="text-muted">
			({{ displayRequirements(edge.requirements) }})
		</span>
		<ul ng-show="isSelected(edge)">
			<li>{{edge.description}}</li>
		</ul>
	</li>
	<!-- <li ng-repeat-end ng-show="isSelected(edge)">
		
	</li> -->
</ul>